<ion-view view-title="Biologia">
	<ion-content>
		<div class="row">
			<div class="col-10"></div>
			<div class="col-80"><br><br><h1 class="text-center titulo1">Sistema Digestivo</h1></div>
			<div class="col-10"></div>
		</div>
		<div class="row">
			<div class="col-10"></div>
			<div class="col-80"><video autoplay="infinity" src="../img/digestivo.mp4" class="video1"></video></div>
			<div class="col-10"></div>
		</div>
		<div class="row">
			<div class="col-10"></div>
			<div class="col-80"><br><br><h1 class="text-center titulo1">Importancia del Agua</h1></div>
			<div class="col-10"></div>
		</div>
		<div class="row">
			<div class="col-10"></div>
			<div class="col-80"><video autoplay="infinity" src="../img/agua.mp4" class="video1"></video></div>
			<div class="col-10"></div>
		</div>
	</ion-content>
</ion-view>